


// <weight>: Use a value from 400 to 800
// <uniquifier>: Use a unique and descriptive class name

.baloo-2-<uniquifier> {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}
#game-container {
    position: relative;
    width: 100%;
     min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
    overflow: hidden;
}

canvas {
    display: block; /* loại bỏ margin tự động của canvas */
    margin-left: 0 !important;
    max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* giữ tỷ lệ, luôn căn giữa */
}

#game-container.dim-overlay::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(255, 255, 255, 0.6);
    pointer-events: none; /* không chặn click vào canvas */
}

/* 2 lớp background để cross-fade */
.bg-layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease; /* thời gian fade */
    pointer-events: none;
    z-index: 0;
}

.bg-layer.visible {
    opacity: 1;
}

/* Canvas game nằm trên 2 bg */
#game-container > canvas {
     max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* giữ tỷ lệ, luôn căn giữa */
    position: relative;
    z-index: 1;
}

#rotate-msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 2em;
    font-family: baloo;
    font-weight: bold;
    text-align: center;
    padding-top: 40%;
    z-index: 9999;
}

/* Các nút UI */
.ui-btn {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}

/* Reset: góc trên trái */
#btn-reset {
    top: 2%;
    right: 2%;
}

.ui-btn:hover {
    transform: scale(1.12);
    transition: 0.15s;
}
html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
#game-container { width: 100vw; height: calc(var(--vh, 1vh) * 100); overflow: hidden; }
